
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Responsive Bootstrap4 Dashboard Template">
    <meta name="author" content="ParkerThemes">
    <link rel="shortcut icon" href="images/logo-darkText.png" />

    <!-- Title -->
    <title>@ViewBag.Titles</title>


    <!-- *************
        ************ Common Css Files *************
    ************ -->
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Icomoon Font Icons css -->
    <link rel="stylesheet" href="/fonts/style.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/main.css">




</head>
<body dir="rtl">




    <!-- *************
        ************ Header section start *************
    ************* -->
    <!-- Header start -->
    <header class="header">
        <div class="logo-wrapper">
            <a href="index.html" class="logo">
                <img src="/images/logo-darkText.png" alt="BANSHER" />
            </a>

        </div>

    </header>
    <!-- Header end -->
    <!-- Screen overlay start -->
    <div class="screen-overlay"></div>
    <!-- Screen overlay end -->
    <!-- *************
        ************ Header section end *************
    ************* -->
    <!-- Container fluid start -->
    <div class="container-fluid">

        <!-- Navigation start -->
        <nav class="navbar navbar-expand-lg custom-navbar">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#WafiAdminNavbar" aria-controls="WafiAdminNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="WafiAdminNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="@Url.Action("Index","User")" id="appsDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-inbox nav-icon"></i>
                            الرئيسية
                        </a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="@Url.Action("Index","Service")" id="appsDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-layers2 nav-icon"></i>
                            الخدمات
                        </a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="appsDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-layers1 nav-icon"></i>
                            الفواتير
                        </a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="@Url.Action("Home","User")" id="appsDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-edit1 nav-icon"></i>
                            التقارير
                        </a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active-page" href="@Url.Action("Index","Customer")" id="appsDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-users nav-icon"></i>
                            العملاء
                        </a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="users.html" id="appsDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-alert-triangle nav-icon"></i>
                            الاعدادت
                        </a>

                    </li>

                </ul>
            </div>
        </nav>
        <!-- Navigation end -->
        <!-- *************
            ************ Main container start *************
        ************* -->
        <div class="main-container">

            <!-- Page header start -->
            <div class="page-header">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">الرئيسية</li>
                    <li class="breadcrumb-item active">المستخدمين</li>
                </ol>
            </div>
            <!-- Page header end -->

            @RenderBody()
        </div>
        <!-- *************
            ************ Main container end *************
        ************* -->
        <!-- Footer start -->
        <footer class="main-footer">© BANSHER 2021</footer>
        <!-- Footer end -->

    </div>
    <!-- Container fluid end -->
    <!-- *************
        ************ Required JavaScript Files *************
    ************* -->
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/moment.js"></script>


    <!-- *************
        ************ Vendor Js Files *************
    ************* -->
    <!-- Slimscroll JS -->
    <script src="/vendor/slimscroll/slimscroll.min.js"></script>
    <script src="/vendor/slimscroll/custom-scrollbar.js"></script>


    <!-- Main Js Required -->
    <script src="/js/main.js"></script>

</body>
</html>